html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    min-width: 550px;
    min-height: 250px;
    padding: 10px;
}

.cards {
    width: 500px;
}

.cards li::before {
    font-family: "Courier", monospace;
}

.cards li:not(:nth-of-type(1)) {
    margin-left: -15px;
}

.cards li:not(:nth-of-type(4)) {
    width: 36px;
    height: 54px;
}

.cards li:nth-of-type(4) {
    margin-right: 30px;
    margin-left: 15px;
}

.cards:first-of-type li:last-of-type,
.cards:nth-of-type(3) li:first-of-type,
.cards:nth-of-type(3) li:nth-last-of-type(3),
.cards:nth-of-type(2) li:nth-of-type(3),
.cards:nth-of-type(2) li:nth-of-type(5)
{
    background-color: #0099ff;
}

.cards:not(:nth-of-type(2)) li:nth-of-type(2) {
    background-color: #ff3300;
}

.cards:nth-of-type(4) li:nth-of-type(3),
.cards:nth-of-type(4) li:last-of-type,
.cards:nth-of-type(4) li:nth-last-of-type(4)
{
    background-color: #339933;
}
